<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "Delete", @task, method: :delete, data: {confirm: "Are you suuuure?"}, class: "btn btn-danger" %>
    </div>
    <h1>Edit task "<%= @task.description %>"</h1>
  </div>

  <%= render 'form' %>

</div>
