<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you suuuure?"} %>
    </div>
    <h1>Edit user profile</h1>
  </div>

  <%= render 'form' %>

</div>
