<h1>User</h1>
<p>Name: <%= @user.first_name + ' ' + @user.last_name %> </p>
<p>Email: <%= @user.email %> </p>
<p>Joined at: <%= @user.created_at %> </p>
<p>Edited profile at: <%= @user.updated_at %> </p>
