<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: "Are you suuuure?"}, class: "btn btn-danger" %>
    </div>
    <h1>Edit <%= @project.name %></h1>
  </div>

  <%= render 'form' %>

</div>
